.topnav {
  background-color: gray;
  overflow: hidden;
}

.link {
    float: right;
    text-align: center;
    padding: 20px 20px;
    font-size: 15px;
    color: white;
}

h1, h2 {
    display: block;
}

.full-height{
    min-height: 100vh;
    height: 100%;
}

.courseCards {
    background-color: lightgrey;
}

.section1 {
    background-color: gray;
}

button{
    width: 100%;
}

@media (min-width:1000px){
.courseCards {
        background-color: lightgrey;
        margin-right: 30px;
    }

.testimonials {
    margin-top: 50px;
    display: flex;
    align-content: center;
}

.courses {
    display: flex;
}

.courses2 {
    display: flex;
    margin-top: 90px;
}

.full-height{
    min-height: 100vh;
    height: 100%;
}

.container {
    display: grid;
    
}
}

@media (max-width: 999px){
    .testimonials{
        flex-direction: column;
    }
    .courses {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
    }
    .courses2 {
        margin-top: 50px;
    }
}